﻿<script type="text/javascript">
    $(function () {
        $('.nav a').filter(function () { return this.href == location.href }).parent().addClass('active').siblings().removeClass('active');
        $('.nav a').click(function () {
            $('.nav li').parent().addClass('active').siblings().removeClass('active');
        });
    });
</script>

<nav id="idNav" class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav mr-auto" style="font-size:large">
                <!-- ml-auto = Right -->
                <li class="nav-item"> <a class="nav-link" href="Rechercher.html"> Rechercher</a> </li><!-- class="nav-item" -->
                <li class="active"> <a class="nav-link" href="accueil_MonGarage.html"> Accueil</a> </li>
                <li class="nav-item"> <a class="nav-link" href="inscription.html"> Sur Mon Garage</a></li>
                <li class="nav-item"> <a class="nav-link" href="connexion.html"> Nous Joindre</a> </li>
                <li class="nav-item"> <a class="nav-link" href="communaute.html"> Communauté</a> </li>
                <li class="nav-item"> <a class="nav-link" href="aide.html"> Aide</a> </li>
            </ul>
        </div>
    </div>
</nav>

