﻿<footer id="footer" class="page-footer font-small darken-3 py-4">
    <div class="container text-center text-md-left">
        <div class="row footer-nav">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Communauté</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Page de la Ville</a>
                    </li>
                    <li>
                        <a href="#!">Donnations</a>
                    </li>
                    <li>
                        <a href="#!">Activités</a>
                    </li>
                    <li>
                        <a href="#!">Réseau de Demandes</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Info</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">À propos de nous</a>
                    </li>
                    <li>
                        <a href="#!">Blog</a>
                    </li>
                    <li>
                        <a href="#!">Contact</a>
                    </li>
                    <li>
                        <a href="#!">Aide</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Politiques</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Terms du service</a>
                    </li>
                    <li>
                        <a href="#!">Politique de privacité</a>
                    </li>
                    <li>
                        <a href="#!">Politique de cancelation</a>
                    </li>
                    <li>
                        <a href="#!">Autres</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">

                <div class="footer-brand">
                    <div id="">
                        <img src="./images/icon_cloud_share.png" width="75" height="75" alt="photo"><h1>MonGarage</h1>
                    </div>
                </div>
                <div class="footer-menu text-center">
                    <i class="fa fa-google-play"></i>
                    <a class="navbar-brand" href="https://play.google.com/store/search?q=mon%20garage"> <img id="gp" src="./images/google_play.png" alt="gp"> </a>
                </div>
                <div class="footer-menu text-center" id="idIcon">
                    <!-- id="collapsibleNavbar" -->
                    <a class="navbar-brand" href="https://fr-ca.facebook.com/"> <img src="./images/facebook.png" width="35" height="35" alt="fb"> </a>
                    <a class="navbar-brand" href="https://twitter.com/?lang=fr"> <img src="./images/twitter.png" width="35" height="35" alt="tw"> </a>
                    <a class="navbar-brand" href="https://www.linkedin.com/login"> <img src="./images/linkedin.png" width="35" height="35" alt="lk"> </a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyrights text-center py-3">
        © 2020 <a class="btn-floating btn-fb mx-1" href="#"> DevObando</a> . All Rights Reserved
        <a class="btn-floating btn-fb mx-1" href="https://outlook.live.com/owa/"> <i class="fa fa-envelope" style="cursor: pointer;"> </i> </a> <span> </span>
    </div>

</footer>