﻿<header>
    <div id="topPage" class="jumbotron text-center mb-0">
        <div id="logo">
            <img src="./images/icon_cloud_share.png" width="75" height="75" alt="photo"><h1>MonGarage</h1>
        </div>
        <div id="loupe">
            <form class="form-inline md-form form-sm mt-2">
                <i class="fa fa-search" style="color:lightskyblue" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-1 mr-3 w-75" type="text" placeholder="Rechercher"
                       aria-label="Rechercher">
            </form>
        </div>
        <div id="user">
            <i id="faUser" class="fa fa-user-circle fa-4x" style="color:lightskyblue"></i><br />
            <span class="sAuteurApp">Nom du membre</span>
        </div>
        <div id="login">
            <button type="button" class="btn btn-primary disabled">Login </button>
        </div>
        <div id="langue">
            <button type="button" class="btn btn-outline-secondary">EN</button>
        </div>
        <h6 class="lead">
            Une Communauté pour Louer tout
        </h6>
    </div>
</header>